# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

debug
release

config.txt
particle_perf*.txt
*-compiled.glsl
*-compiled.comp
*-compiled.frag
*-compiled.geom
*-compiled.vert
imgui.ini

*.lvl